<div class="col">
    <h2 class="mb-0"><a class="text-decoration-none" href="/p/{{ slug }}">{{ title }}</a></h2>
    <p class="initial lh-sm m-0">{{ content|u.truncate(230, '...', false) }}</p>
</div>