<form id="reply-form" style="display: none;" method="post" action="/discussion/post/storereply">
    <input id="parent-id" type="hidden" name="parent_id" value="" />
    <textarea class="form-control border border-primary mb-2" name="content" rows="2"></textarea>
    <button class="btn btn-primary w-100 mb-2">Reply</button>
</form>