<div class="row row-cols-1">
    <div class="col">
        {% include 'Partials/user-reply-tag.twig' %}
    </div>
</div>
<div class="row row-cols-1 pb-3 reply-content">
    <div class="col">
        <p>{{ content }}</p>
    </div>
</div>
