<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/main.css">
        <title>Candlewax Games</title>
    </head>
    <body>
        <video autoplay="" muted="" loop="" class="position-fixed top-50 start-50 translate-middle z-n1">
            <source src="/videos/background.mp4" type="video/mp4">
        </video>
        {% include "Layouts/header.twig" %}
        {% include "Layouts/navigation.twig" %}
        <div class="container-fluid container-lg pt-2 bg-image-center">
            {% include "Layouts/notification.twig" %}
            {% block content %}{% endblock %}
        </div>
        {% include "Layouts/footer.twig" %}
    </body>
</html>