<div class="container-fluid container-lg">
    <div class="row row-cols-1 bg-image-bottom">
        <div class="col text-center pt-3 bg-image-center">
            <p class="m-0">&copy; Candlewax Games {{ 'now' | date('Y') }}. All rights reserved.</p>
        </div>
    </div>
</div>