<div class="container-fluid container-lg mt-lg-4 bg-image-top">
    <header class="row row-cols-1 bg-image-center">
        <div class="col-2 mx-auto px-2 px-md-4 text-center">
            <img class="img-fluid" src="/public/images/wax-seal.png" alt="">
        </div>
        <div class="col text-center mt-3 mt-md-4">
            <h1>Candlewax<br><span>Games</span></h1>
        </div>
    </header>
</div>