<div class="container-fluid p-0 bg-image-center">
    <div class="row mx-auto nav">
        <div class="col d-flex p-0 justify-content-between">
            <img src="/public/images/navigation-left.png" alt="">
            <a class="display-6 text-decoration-none" href="/blog">Blog</a>
            <a class="display-6 text-decoration-none" href="/games">Games</a>
            <a class="display-6 text-decoration-none" href="/forum">Forum</a>
            <a class="display-6 text-decoration-none" href="/account">Account</a>
            <img src="/public/images/navigation-right.png" alt="">
        </div>
    </div>
</div>