{% extends "Layouts/app.twig" %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 text-justify">
        {% include 'Partials/blog-column.twig' with {title: first_post.title, content: first_post.content, slug: '/p/' ~ first_post.slug, image: '/images/' ~ first_post.thumbnail, image_alt: first_post.thumbnail_alt } %}
        {% include 'Partials/blog-column.twig' with {title: game.name, content: game.content, slug: '/games/' ~ game.name, image: '/images/games/screenshots/' ~ game_image.slug, image_alt: game_image.alt_text } %}
        {% include 'Partials/blog-column.twig' with {title: second_post.title, content: second_post.content, slug: '/p/' ~ second_post.slug, image: '/images/' ~ second_post.thumbnail, image_alt: second_post.thumbnail_alt} %}
    </div>
{% endblock %}