{% extends "Layouts/app.twig" %}
{% block content %}
    <h1>Page not found</h1>
    <p>We're sorry, but the page you are looking for is not here. Maybe double check the URL for spelling mistakes or use the category button at the top of the page to find what you're after.</p>
{% endblock %}