{% extends "Layouts/app.twig" %}
{% block content %}
    <div class="clearfix mb-2">
        <div class="float-end">{% include 'Partials/pagination.twig' with {url: "/blog", page_count: page_count, current_page: current_page, page_number: page_number} %}</div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 text-justify">
        {% for post in posts %}
            {% include 'Partials/blog-column.twig' with {title: post.title, content: post.content, slug: post.slug} %}
        {% endfor %}
    </div>
    <div class="float-end my-2">{% include 'Partials/pagination.twig' with {url: "/blog", page_count: page_count, current_page: current_page, page_number: page_number} %}</div>
    <div class="clearfix"></div>
{% endblock %}