.bg-image-top {
  background-image: url(/public/images/parchment-header.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}

.bg-image-center {
  background-image: url(/public/images/parchment-body.png);
  background-repeat: repeat-y;
  background-position: top center;
}

.bg-image-bottom {
  background-image: url(/public/images/parchment-footer.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 40px;
}