.nav {
  height: 91px;
}

.nav a {
  color: $secondary;
  font-family: happy-times, sans, sans-serif;
  font-weight: 700;
  padding-top: 25px;
}

.nav img {
  height: 0;
}

.nav .col {
  background-image: url(/public/images/navigation.png);
  background-repeat: no-repeat;
  background-position: center;
}

@include media-breakpoint-up(lg) {
  .nav {
    max-width: 1124px;
  }

  .nav a {
    padding-top: 20px;
  }

  .nav img {
    height: auto;
  }
}